@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.circle {
  background-color: #3EEDBF;
  color: #000;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.active button{
  background-color: #fff;
}
